In [1]:
import pandas as pd
fruits = pd.DataFrame([[30,21]], columns=['Apples','Bananas'])

In [2]:
fruits

   Apples  Bananas
0      30       21

In [4]:
Fruits = pd.DataFrame( [[35,21],[41,34]] , columns=['Apples','Bananas'], index=['2017 Sales','2018 Sales'])
Fruits

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

In [17]:
quantities = ['4 cups', '1 cup', '2 large', '1 can']
varities = ['Flour','Milk','Eggs','Spam']
Display_Items = pd.Series(quantities,index=varities, name='Dinner')
Display_Items

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [25]:
file_path='~/PycharmProjects/PandasExplore/winemag-data-130k-v2.csv'
read_file = pd.read_csv(file_path,index_col=0)
wineMag = pd.DataFrame(read_file)
wineMag

       country  ...                   winery
0           US  ...                    Heitz
1        Spain  ...  Bodega Carmen Rodríguez
```        NaN  ...                      NaN
150928  France  ...                   Gosset
150929   Italy  ...            Alois Lageder

[5 rows x 10 columns]

In [29]:
wineMag['country'][0]

'US'

In [28]:
wineMag.country

0             US
1          Spain
```          NaN
150928    France
150929     Italy
Name: country, dtype: object

In [30]:
wineMag.iloc[0]

country                                             US
description    This tremendous 100% varietal wine[...]
designation                          Martha's Vineyard
points                                            96.0
price                                            235.0
province                                    California
region_1                                   Napa Valley
region_2                                          Napa
variety                             Cabernet Sauvignon
winery                                           Heitz
Name: 0, dtype: object

In [31]:
wineMag.iloc[:,0]

0             US
1          Spain
```          NaN
150928    France
150929     Italy
Name: country, dtype: object

In [32]:
wineMag.iloc[:3,0]

0         US
1      Spain
```      NaN
Name: country, dtype: object

In [33]:
wineMag.iloc[1:3,0]

1      Spain
```      NaN
Name: country, dtype: object

In [35]:
wineMag.iloc[[1,2,3],0]

1          Spain
```          NaN
150928    France
Name: country, dtype: object

In [38]:
wineMag.iloc[-5:]

       country  ...                   winery
0           US  ...                    Heitz
1        Spain  ...  Bodega Carmen Rodríguez
```        NaN  ...                      NaN
150928  France  ...                   Gosset
150929   Italy  ...            Alois Lageder

[5 rows x 10 columns]

In [40]:
wineMag.iloc[0,'country']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [41]:
wineMagre.loc[:,['taster_name','taster_twitter_handle','points']]

KeyError: "['taster_name', 'taster_twitter_handle'] not in index"

In [42]:
wineMag.set_index("title")

KeyError: "None of ['title'] are in the columns"

In [43]:
wineMag.country=='Italy'

0         False
1         False
```       False
150928    False
150929     True
Name: country, dtype: bool

In [44]:
wineMag.loc[wineMag.country=='Italy']

       country  ...         winery
150929   Italy  ...  Alois Lageder

[1 rows x 10 columns]

In [50]:
wineMag.loc[(wineMag.country=='Italy') & (wineMag.points>=90)]

       country  ...         winery
150929   Italy  ...  Alois Lageder

[1 rows x 10 columns]

In [51]:
wineMag.loc[(wineMag.country=='Italy')|(wineMag.points>=90)]

       country  ...                   winery
0           US  ...                    Heitz
1        Spain  ...  Bodega Carmen Rodríguez
150928  France  ...                   Gosset
150929   Italy  ...            Alois Lageder

[4 rows x 10 columns]

In [52]:
wineMag.loc[wineMag.country.isin(['Italy','France'])]

       country  ...         winery
150928  France  ...         Gosset
150929   Italy  ...  Alois Lageder

[2 rows x 10 columns]

In [53]:
wineMag.loc[wineMag.price.notnull()]

       country  ...                   winery
0           US  ...                    Heitz
1        Spain  ...  Bodega Carmen Rodríguez
150928  France  ...                   Gosset
150929   Italy  ...            Alois Lageder

[4 rows x 10 columns]

In [54]:
wineMag['critic']='everyone'

In [55]:
wineMag['critic']

0         everyone
1         everyone
```       everyone
150928    everyone
150929    everyone
Name: critic, dtype: object

In [57]:
wineMag['index_backwards'] = range(len(wineMag),0,-1)
wineMag['index_backwards']

0         5
1         4
```       3
150928    2
150929    1
Name: index_backwards, dtype: int64